DB_URL= ""

SALTROUNDS= "10"

MAIL_HOST= ""
MAIL_PORT= "587"
MAIL_USER= ""
MAIL_FROM= ""
MAIL_PASS= ""

TOKEN_SECRET= "token_test_secret"
API_KEY= "4754CA7CD6391"
API_SECRETE= "E9352BD2F72415EF5DEE4245185A6"